/*
Theme name: ChocoTheme
Theme URI: TBD
Description: Stylish theme with two-column layout suitable for a wide range of bloggers.Valid CSS & HTML, tested in all major browsers. If you need support with this theme head over to the author's website
Author: CSSMayo
Author URI: http://cssmayo.com/
Version: 0.01
*/

* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  font-size: 13px;
  line-height: 1.4;
  font-family: Arial, "Trebuchet MS", Sans-Serif;
  color: #444;
  background: #3a2820;
  text-align: left;
}

a img {
  border: 0;
}
a {
  color: #cd4517;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Trebuchet MS", "Myriad Pro", Tahoma, Sans-Serif;
  font-weight: normal;
  line-height: 1.2;
}

input,
textarea,
select,
button,
label {
  font-family: Arial, "Trebuchet MS", Sans-Serif;
  font-size: 12px;
  color: #444;
}

/*div.field { width: 280px; height: 15px; background: url(../../images//field.gif) no-repeat 0 0; padding: 8px 5px 7px; overflow: hidden; }*/

div.textarea {
  width: 324px;
  height: 125px;
  padding: 8px 5px 7px;
  background: url(../images/textarea.gif) no-repeat 0 0;
}
div.field input,
div.textarea textarea {
  border: none;
  background: none;
  width: 100%;
}
div.textarea textarea {
  height: 125px;
}

.cl,
.clear {
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  clear: both;
}

.alignright {
  float: right;
}
.alignleft {
  float: left;
}

p img {
  padding: 0;
  max-width: 100%;
}
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.alignright {
  margin: 0 0 5px 15px;
  display: inline;
}
img.alignleft {
  margin: 0 15px 5px 0;
  display: inline;
}

#page {
  width: 980px;
  margin: 0 auto;
}

#header {
  padding-top: 30px;
  height: 85px;
}
#header .description {
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  color: #c1ab7d;
}
#header .description a {
  color: #9d6510;
  text-decoration: none;
}

h1 {
  font-family: "Trebuchet MS", Arial, Sans-Serif;
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: #d69959;
}
h1 a {
  text-decoration: none;
  color: #d69959;
}
h1 a span {
  color: #ffd7a5;
}
h1 a:hover {
  text-decoration: none;
}

#logo {
  float: left;
  display: inline;
}

#nav {
  float: right;
  display: inline;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 20px;
}
/*#nav ul li { float: left; display: inline; list-style-type: none; }
#nav ul li a { color: #fefefe; text-decoration: none; float: left; display: inline; padding-left: 18px; }
#nav ul li a span { float: left; display: inline; padding-right: 18px; padding-bottom: 2px; }
#nav ul li.active-trail a,
#nav ul li.active a,
#nav ul li.active a:hover,
#nav ul li.active a span,
#nav ul li.active-trail a:hover,
#nav ul li.active-trail a span,
#nav ul li a:hover,
#nav ul li a:hover span { background: url(../images/nav-hover-active.gif) no-repeat 0 0; }
#nav ul li.active-trail a span,
#nav ul li.active-trail a:hover span { background-position: right 0; }
#nav ul li.active a span,
#nav ul li.active a:hover span { background-position: right 0; }
#nav ul li a:hover { background-position: 0 bottom; }
#nav ul li a:hover span { background-position: right bottom; }
#nav ul li.dd a span span { padding-right: 15px; background: url(../images/nav-dd-arr.gif) no-repeat right center !important; padding-bottom: 0; }*/

#footer {
  padding: 15px 0 30px;
  text-align: center;
  font-size: 11px;
  color: #7e6a4f;
}
#footer a {
  color: #9d6510;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer p.rss {
  display: inline;
  padding-left: 14px;
  background: url(../images/ico-rss-2.gif) no-repeat 0 center;
}
#footer p.rss a {
  color: #7e6a4f;
}

#main {
  background: url(../images/main-bg.jpg) repeat-y 0 0;
  width: 100%;
  position: relative;
}
#main-top {
  background: url(../images/main-top.jpg) no-repeat 0 0;
}
#main-bot {
  background: url(../images/main-bot.jpg) no-repeat 0 bottom;
  padding: 50px 20px 70px 60px;
  min-height: 150px;
}

#rss-link {
  display: block;
  width: 50px;
  height: 55px;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  background: url(../images/ico-rss.png);
}
#rss-link {
  position: absolute;
  top: -12px;
  right: -12px;
}

#content {
  float: left;
  display: inline;
  width: 645px;
}

.post {
  padding-bottom: 30px;
  background: url(../images/post-bg.gif) no-repeat 0 bottom;
  margin-bottom: 10px;
  position: relative;
}
.post h2,
.list-page .post h3 {
  font-size: 27px;
  margin-bottom: 22px;
}
.post h2 a,
.list-page .post h3 a {
  color: #000;
  text-decoration: none;
}
.post h2 a:hover,
.list-page .post h3 a:hover {
  text-decoration: none;
}
.post .date {
  position: absolute;
  top: -7px;
  left: -123px;
  width: 75px;
  height: 80px;
  text-align: center;
}
.post .date .bg {
  background: url(../images/date.png) no-repeat 0 0;
  width: 70px;
  height: 62px;
  padding: 18px 0 0 5px;
}
.post .date span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #f4b995;
  line-height: 1;
  text-transform: uppercase;
}
.post .date span.day {
  font-size: 26px;
}
.post .entry img {
  background: #fff;
  padding: 2px;
  border: solid 10px #e2e2e2;
}
.post .entry p {
  margin-bottom: 18px;
}
.post .meta {
  padding-top: 13px;
  background: url(../images/meta-top.gif) no-repeat 0 0;
  margin-bottom: 10px;
}
.post .meta {
  font-size: 10px;
  font-family: Verdana, Tahoma, Arial, Sans-Serif;
  color: #444;
}
.post .meta p {
  padding: 5px 0;
  line-height: 15px;
}
.post .meta .bg {
  background: #fafafa url(../images/meta-bg.gif) repeat-x 0 bottom;
  border-left: solid 1px #dedede;
  border-right: solid 1px #dedede;
  padding: 0 10px;
}
.post .meta .bot {
  height: 4px;
  font-size: 0;
  line-height: 0;
  background: url(../images/meta-bot.gif) no-repeat 0 0;
}
.post .meta .comments-num {
  float: right;
  display: inline;
  font-size: 11px;
  color: #682815;
  font-weight: bold;
}
.post .meta .comments-num {
  padding: 5px 0 5px 30px;
  margin-left: 10px;
  background: url(../images/meta-comments-num.gif) no-repeat 0 3px;
}

#sidebar {
  float: right;
  display: inline;
  width: 204px;
  margin-top: 80px;
}
.widget_calendar {
  width: 204px;
}
#sidebar a {
  color: #ffe6a8;
}

#sidebar h2 {
  line-height: 52px;
  width: 185px;
  background: url(../images/widgettitle.jpg) no-repeat 0 0;
  color: #2e2019;
  font-size: 20px;
  padding-left: 15px;
}
#sidebar ul li {
  list-style-type: none;
}
#sidebar ul ul,
#sidebar ul {
  padding: 0 10px 10px 3px;
}
#sidebar ul ul li,
#sidebar ul li {
  background: url(../images/sidebar-list-arr.gif) no-repeat 0 8px;
  border-bottom: solid 1px #423028;
  margin: 4px 6px;
  padding-left: 15px;
  list-style: none;
}
#sidebar ul ul li ul {
  border: 0;
  padding-bottom: 0;
}
#sidebar ul ul li li {
  border: 0;
  padding-bottom: 5px;
  margin-bottom: 0;
}

#sidebar ul div {
  padding: 0 10px 10px 9px;
}

#calendar_wrap {
  font-size: 12px;
  text-align: center;
  color: #f7f7f7;
}
#calendar_wrap .nav {
  font-weight: bold;
  color: #c4a158;
  line-height: 24px;
  width: 130px;
  margin: 0 auto;
  position: relative;
}

#calendar_wrap .nav a.next {
  right: 0;
  background: url(../images/calendar-next.gif) no-repeat 0 0;
}
#calendar_wrap .nav a.prev {
  left: 0;
  background: url(../images/calendar-prev.gif) no-repeat 0 0;
}
#wp-calendar {
  width: 100%;
}
#wp-calendar tbody tr td a {
  border: dashed 1px #c4a158;
  color: #c4a158;
  text-decoration: none;
  width: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
#wp-calendar tbody tr td {
  border-right: solid 1px #423028;
  padding: 2px 0;
}
#wp-calendar tbody tr th {
  border: solid 1px #423028;
  border-left: 0;
  padding: 2px 0;
  color: #b5573a;
  font-weight: normal;
}
#wp-calendar tbody tr .last {
  border-right: none !important;
}
#wp-calendar tbody tr.last td {
  border-bottom: solid 1px #423028;
}

#sidebar #searchform,
#sidebar #search-block-form {
  margin: 5px 0 15px 5px;
}
#sidebar #searchform label {
  font-weight: bold;
  color: #c4a158;
}
#sidebar #searchform .field-place,
#sidebar #search-block-form > div:first-child {
  width: 190px;
  height: 23px;
  background: url(../images/searchform-field.gif) no-repeat 0 0;
  padding: 2px;
}
#sidebar #searchform .field-place .form-text,
#sidebar #search-block-form div .form-text {
  border: 0;
  color: #c4a158;
  padding: 0px 5px 3px;
  width: 155px;
  background: none;
  float: left;
  display: inline;
  min-height: 10px;
}
/*#sidebar #searchform .field-place .button, #sidebar #search-block-form > div:first-child .button {
  float: right;
  display: inline;
  width: 23px;
  height: 23px;
} */
#sidebar #searchform .field-place .form-submit,
#sidebar #search-block-form > div:first-child .form-submit {
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  background: none;
  border: 0;
  cursor: pointer;
}

#respond {
  padding-bottom: 30px;
  background: url(../images/post-bg.gif) no-repeat 0 bottom;
  margin-bottom: 10px;
}
#respond h3 {
  font-size: 19px;
}
#respond div.left {
  float: left;
  display: inline;
  width: 290px;
}
#respond div.right {
  float: right;
  display: inline;
  width: 334px;
}
#respond label {
  display: block;
  color: #ac2e13;
  font-size: 12px;
  margin: 5px 0 3px;
}
#respond .button {
  float: right;
  display: inline;
  margin-top: 20px;
  width: 119px;
  height: 31px;
  background: url(../images/button.gif) no-repeat;
}
#respond .button {
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}
.comment {
  list-style-type: none;
  font-size: 12px;
}
.comment .comment-body {
  position: relative;
  height: 100%;
  position: relative;
  padding-left: 80px;
  padding-bottom: 25px;
  background: url(../images/post-bg.gif) no-repeat 0 bottom;
  margin-bottom: 15px;
  min-height: 90px;
}
.comment .avatar,
.comment img {
  position: absolute;
  top: 0;
  left: 0;
}
.comment .author {
  font-weight: bold;
  line-height: 1;
}
.comment .author a {
  color: #dd5324;
}
.comment .comment-meta {
  font-size: 10px;
  color: #b49969;
  margin-bottom: 3px;
}
.comment .comment-content p {
  margin-bottom: 15px;
}
.trackback .comment-body,
.pingback .comment-body {
  padding-left: 0;
}
/* Big images in rich text editor should not break page layout */
.post .entry {
  overflow: hidden;
}
/* Default size for headers */
.post .entry h1 {
  font-size: 20px;
  line-height: 30px;
}
.post .entry h2 {
  font-size: 18px;
  line-height: 27px;
}
.post .entry h3 {
  font-size: 16px;
  line-height: 24px;
}
.post .entry h4 {
  font-size: 14px;
  line-height: 21px;
}
.post .entry h5 {
  font-size: 12px;
  line-height: 18px;
}
.post .entry h6 {
  font-size: 10px;
  line-height: 15px;
}

/* Reasanble margins for lists */
/*.post .entry ul { margin-left: 25px; }*/
.post .entry ol {
  margin-left: 25px;
}

.widget {
  color: #fff;
}
.userloggedbtn {
  float: left !important;
  margin-left: 218px;
}
.commentsnavigation {
  margin: 6px auto;
}
.reply {
  float: right;
}
.archives hr {
  margin: 6px 0;
}
.wp-caption {
  border: solid 1px #eee;
  text-align: center;
  margin: 6px;
}
.wp-caption p {
  margin-bottom: 0 !important;
  padding: 0 5px;
}
.post .entry .wp-caption a img {
  border: 0;
}
.metaplace {
  padding: 9px;
}
.metaplace p {
  color: #fff;
}
.commentlist li.last .comment-body {
  background-image: none;
}
.form-item {
  margin-bottom: 0px;
  margin-top: 0px;
}
li.leaf {
  list-style-image: none;
}
li.collapsed {
  list-style-image: none;
}
li.expanded {
  list-style-image: none;
}
td {
  padding: 3px;
}
.field-label {
  float: left;
}
.form-item input,
.form-item select,
.form-item textarea {
  border: 1px dashed #ccc;
  background: #f7f7f7;
  margin: 5px auto;
  padding: 5px;
  border-radius: 3px 3px 3px 3px;
}
.form-item-search-block-form input {
  padding: 0px;
}
.form-submit {
  background: url(../images/button.gif) no-repeat 0 0;
  min-height: 35px;
  min-width: 125px;
  border: none;
  border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
  padding-bottom: 4px;
  color: white;
  font-weight: bold;
}
.post h2 {
  margin-bottom: 0px;
}
.post .date span.day {
  font-size: 26px;
  color: #feefcc;
}
.post .date span {
  color: #feefcc;
}

ul.inline li {
  padding-left: 0px;
}
.form-item-subject input[type="text"] {
  width: 634px;
}
#sidebar .block  p {
  padding-left: 10px;
}
.post-tags .field-item {
  float: left;
  margin-right: 5px;
  margin-bottom: 15px;
  background-color: #dddddd;
  border-radius: 10px;
  color: #cd4517;
  display: block;
  text-shadow: 0 1px 0 #ffffff;
  padding: 0px 2px 2px 2px;
}
.post-tags .field-item:hover {
  float: left;
  margin-right: 5px;
  margin-bottom: 15px;
  background-color: #999999;
  border-radius: 10px;
  color: #cd4517;
  display: block;
  text-shadow: 0 1px 0 #ffffff;
  padding: 0px 2px 2px 2px;
}
.post-tags a {
  color: #cd4517;
  text-decoration: none;
  padding: 0px 6px;
}
.post-tags {
  float: left;
  width: 640px;
}
.post-tags a:hover {
  background-color: #999999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.post-tags .field-label {
  display: none;
}
input.form-checkbox,
input.form-radio {
  border: none !important;
}
#nav {
  clear: both;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 43px;
}
#nav ul {
  /*float: left;*/
  padding-bottom: 0px;
  /*padding-left: 15px;*/
  padding-right: 15px;
  padding-top: 0px;
}
#nav li {
  float: left;
  font-weight: bold;
  list-style-type: none;
}
#nav li a {
  -moz-text-blink: none;
  -moz-text-decoration-color: -moz-use-text-color;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: solid;
  color: #e7e7e7;
  display: block;
  /*padding-bottom: 5px;
  /padding-left: 10px;*/
  padding-right: 10px;
  padding-top: 0px;
  padding-left: 10px;
  position: relative;
  text-decoration: none;
  /*border-radius: 15px;*/
}
#nav li a:hover,
#nav li a:active,
#nav a.active {
  color: #ffffff;
  /*background: url(../images/nav-hover-active.gif), url(../images/right.jpg);
  background-position: left 0, right 0;
  background-repeat: no-repeat;*/
  background: url(../images/nav-hover-active.gif) no-repeat 0 0;
}

#nav ul li a.active,
#nav ul li a:hover {
  background-position: center 0;
}

#nav li a .sf-sub-indicator {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  text-indent: -9999px;
}
#nav li li a,
#nav li li a:link,
#nav li li a:visited {
  background-color: #12263b;
  border-top-width: 0;
  color: #e7e7e7;
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  position: relative;
  text-transform: none;
  width: 140px;
}
#nav li li a:hover,
#nav li li a:active {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #01152a;
  /*background-image: none;*/
  background-origin: padding-box;
  /*background-position: 0 0;
  background-repeat: repeat;*/
  background: url(../images/nav-hover-active.gif) no-repeat 0 0;
  background-position: center 0;
  background-size: auto auto;
  color: #ffffff;
}
#nav li ul {
  height: auto;
  left: -9999px;
  margin-bottom: 0;
  margin-left: 1px;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: absolute;
  width: 160px;
  z-index: 9999;
}
#nav li ul a {
  width: 160px;
}
#nav li ul ul {
  margin-bottom: 30px;
  margin-left: 160px;
  margin-right: 0;
  margin-top: -35px;
}
#nav li:hover > ul,
#nav li.sfHover ul {
  left: auto;
}
#nav ul li.leaf,
#nav ul li.expanded,
#nav ul li.collapsed {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#nav ul.menu li {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
#nav li.expanded,
#nav li.collapsed,
#nav li.leaf {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  /*padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;*/
  padding-right: 10px;
  padding-top: 0px;
  padding-left: 10px;
}
#nav li.expanded {
  background: url(../images/nav-dd-arr.gif) no-repeat right center;
}
#nav li li a,
#nav li li a:link,
#nav li li a:visited {
  background-color: #292929;
  opacity: 0.7;
}

#nav li li a:hover,
#nav li li a:active {
  /*background: #292929;*/
  background: url(../images/nav-hover-active.gif) no-repeat 0px 0px;
  background-position: center 0px;
  padding-right: 10px;
  padding-top: 0px;
  padding-left: 10px;
}
/*#nav {
  background-image: url('../images/button.gif');
}*/
/*#nav ul li{
  border:1px
}*/

::-webkit-input-placeholder {
  color: #c4a158;
}

.hasPlaceholder {
  color: #c4a158;
}
